.component-services {
    /* padding: 120px; */
    padding: 120px 0 0;
    margin: 0 0 120px;
    text-align: center;
}

.component-services .services {
    display: flex; /* order children newxt to eachother */
    justify-content: space-evenly;
}

.component-services .service {
    width: 25%; /* we will only have 3*/
    margin: 0 24px; /* uniform across children because page only expands downwards */
}

.component-services .image {
    --dimensions: 200px;
    width: var(--dimensions);
    border-radius: 50%;
    height: var(--dimensions);
    object-fit: cover;
    margin: 0 0 24px;
}

.component-services .headline {
    font-size: 32px;
    text-transform: uppercase;
    margin: 0 0 24px;
}

.component-services .description {
    margin: 0 0 24px;
}

@media (max-width: 768px) {
    .component-services {
        /* padding: 40px; */
    }
    .component-services .services {
        flex-direction: column;
    }

    .component-services .service {
        width: 100%;
        margin: 0 0 64px;
    }

    .component-services .service:last-child {
        margin: 0;
    }
}

@media (max-width: 420px) {
    /* .component-services .service {
        width: 15%;
    } */

    .component-services .image {
        --dimensions: 150px
    }

    .component-services .headline {
        font-size: 24px;
    }
}