.screen-cart {
    background-color: var(--darkColor);
    padding-bottom: 40px;

    &__title {
        text-align: center;
        font-size: 45px;
        margin: 0 0 46px;
        padding: 46px 0 0;
        color: white;
    }

    .button.checkout {
        display: block;
        text-align: center;
        max-width: 10%;
        margin: 0 auto;
    }
}

@media (max-width: 420px) {
    .screen-cart {
        .button.checkout {
            max-width: fit-content;
        }
    }
}