.component-suggestions {
    margin: 0 0 100px;
    padding: 64px 0 0;

    &__title {
        margin: 0 0 48px;
        font-size: 32px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        color: goldenrod;

        .line {
            display: inline-block;
            height: 2px;
            width: 25%;
            background-color: goldenrod;

        }
    }

    .suggestion-items {
        display: flex;
        justify-content: space-between;
        
        .suggestion-item {
            background-color: var(--darkColor);
            color: white;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            width: 31%;
            height: 410px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            cursor: pointer;
            transition: all .25s;

            &__headline {
                margin: 0;
                padding: 20px;
            }

            &__image {
                height: 75%;
                object-fit: cover;
            }

            &:hover {
                scale: 1.15;
            }
        }
    }
}

@media (max-width: 1000px) {
    .component-suggestions {
        .suggestion-items {
            .suggestion-item {
                height: 250px;
                overflow-y: hidden;
                
                &__headline {
                    height: 25%;
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .component-suggestions {
        .suggestion-items {
            flex-direction: column;
            align-items: center;
            gap: 40px;

            .suggestion-item {
                height: 230px;
                width: 85%;
                
                &__headline {
                    height: unset;
                    min-height: fit-content;
                    font-size: 20px;
                    padding: 10px 0 0 10px;
                }
            }
        }
    }
}