.screen-product {

    &__category {
        margin: 0 0 32px;
        padding: 40px 0 0;
        font-size: 26px;
        font-style: italic;
    }

    &__name {
        margin: 0 0 32px;
        font-size: 48px;
    }
    
    .gallery-summary-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 0 64px;

        > * {
            width: 45%;
            box-sizing: border-box;
        }
    }
}

@media (max-width: 1000px) {
    .screen-product {
        padding: 0 30px;
        .gallery-summary-wrapper {
            flex-direction: column;
            margin: 0;

            > * {
                width: unset;
                box-sizing: border-box;
                margin: 0 0 64px;
            }
        }
    }
}

@media (max-width: 420px) {
    .screen-product {
        &__category {
            margin: 0 0 32px;
            padding: 40px 0 0;
            font-size: 24px;
        }
    
        &__name {
            margin: 0 0 32px;
            font-size: 28px;
        }
    }
}