.component-cart-content {
    .cart-items {
        list-style-type: none;
        padding: 0;
        margin: 0;

        .cart-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 auto 32px;
            height: 150px;
            // width: 75%;
            padding: 25px;
            box-shadow: 0 0 20px rgba(0,0,0,.5);
            border-radius: 10px;
            background-color: var(--darkColor);
            color: white;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50%;
                border-right: 1px solid white;
                padding-right: 40px;
                font-size: 30px;
                background-color: var(--darkColor);
            }

            &__image {
                height: 100%;
                width: 150px;
                object-fit: contain;
            }

            &__button {
                padding: 10px;
                width: 50px;
                border: none;
                border-bottom: 5px solid black;
                border-radius: 10px;
                transition: all .25s;
                font-size: 24px;
                font-weight: bold;
                background-color: goldenrod;
                cursor: pointer;

                &:active {
                    border-bottom: none;
                    translate: 0 5px;
                }
                
                &:first-child {
                    margin-right: 15px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .component-cart-content {
        .cart-items {
            .cart-item {
                position: relative;
                flex-direction: column;
                justify-content: center;
                // align-items: unset;
                flex-wrap: unset;
                height: 325px;
                width: 100%;
                box-sizing: border-box;
                padding: 20px;
                border-radius: 0;
                overflow-y: hidden;
                margin: 0;

                > * {
                    position: relative;
                    z-index: 1;
                }

                span {
                    background-color: transparent; //rgba(0,0,0,.5);
                    width: 100%;
                    border-style: none;
                    padding: 0;
                    // font-weight: bold;
                    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
                    font-size: 40px;
                    text-align: center;
                }

                &__image {
                    position: absolute;
                    width: 100%;
                    height: unset;
                    z-index: 0;
                    filter: brightness(50%);
                }

                &__button-wrapper {
                    background-color: transparent; //rgba(0,0,0,.5);
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}