.screen-products {
    height: 100vh;

    // padding-top: 60px;
    .products-search {
        display: flex;
        // gap: 32px;
        margin: 0 auto 20px;
        padding: 32px;
        min-height: 85%;

        &__filter,
        &__result-items {
            background-color: var(--darkColor);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            border-radius: 10px;

            .no-results-message {
                background-color: white;
                color: lightcoral;
                font-size: 150%;
                padding: 20px;
                text-align: center;
                border-left: 5px solid lightcoral;
                border-radius: 10px;
                animation-name: pulsate-message;
                animation-duration: 2s;
                animation-iteration-count: infinite;

                @keyframes pulsate-message {
                    0% {
                        color: lightcoral;
                        transform: scale(1);
                    }
                    50% {
                        color: red;
                        transform: scale(1.1);
                    }
                    100% {
                        color: lightcoral;
                        transform: scale(1);
                    }
                }
            }
        }

        &__filter {
            width: 22%;
            max-height: 85vh;            
            position: sticky;
            top: 96px;
            overflow-y: scroll;
            overflow-x: hidden;
            margin-right: 32px;

            &::-webkit-scrollbar {
                width: 10px;
                height: 10px;
                display: none;
            }

            &::-webkit-scrollbar-thumb {
                background-color: lightgray;
                border-radius: 400px;
                opacity: 0.5;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }

            &:hover {
                width: calc(22% + 10px);
                margin-right: 22px;
                &::-webkit-scrollbar {
                    display: block;
                }
            }
        }

        &__title {
            text-align: center;
            margin: 0;
            padding: 24px 0;
            font-size: 36px;
            background-size: 100%;
            color: white;
            text-shadow: 0 0 20px rgba(0, 0, 0);
            border-radius: 10px 10px 0 0;

            &--results {
                width: 100%;
                background-size: 10%;
                margin: 0 0 60px;
            }
        }

        &__result-items {
            width: 78%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items:center;
            // padding: 60px 0 0;

            .result-item {
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                border-radius: 10px;
                display: flex;
                height: 350px;
                min-width: 80%;
                background-color: white;
                margin: 0 0 60px;
                transition: all .7s;
                overflow-y: hidden;
                position: relative;
                user-select: none;

                &__image {
                    height: 350px;
                    width: 40%;
                    object-fit: cover;
                    border-radius: 10px 0 0 10px;
                }

                &__information {
                    padding: 40px;
                    width: 60%;
                    box-sizing: border-box;
                }

                &__name {
                    font-size: 30px;
                    margin: 0 0 24px;
                    text-align: left;

                    a {
                        color: black;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }

                &__price-label {
                    font-size: 20px;
                    font-style: italic;
                    margin: 0 0 4px;
                }

                &__cost {
                    font-size: 30px;
                    margin: 0 0 30px;
                    transition: all .25s;
                    max-width: fit-content;
                }

                &__price {
                    color: grey;
                    text-decoration: line-through;
                    margin: 0 0 30px;
                }

                &__buttons {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    // align-items: center;

                    .button {
                        width: 40%;
                        margin-bottom: 20px;
                    }

                    .button {
                        
                    }
                }
            }
        }


    }

    .form {
        padding: 24px 32px;

        .button {
            width: 100%;
        }
    }

    .form-group {
        margin: 0 0 20px;

        // .price-range-display {
        //     display: block;
        //     max-width: 70%;
        //     text-align: center;
        //     color: gold;
        //     font-weight: bold;
        //     font-size: 20px;
        //     padding: 10px 0 0;
        //     border-bottom: 3px solid gold;
        //     margin: 0 auto;
        // }
    }

    .price-range {
             
        &__track {
            height: 6px;
            width: 100%;
            border-radius: 1000px;
            background-color: #ccc;
            margin: 0 0 60px;
        }
        &__thumb {
            height: 24px;
            width: 24px;
            border-radius: 1000px;
            background-color: var(--accentColor);

            &::after {
                content: attr(data-after);
                display: block;
                width: 80px;
                padding: 5px 0;
                position: relative;
                top: 30px;
                left: -30px;
                font-size: 125%;
                font-weight: bold;
                text-align: center;
                // color: gold;
                border-bottom: 3px solid black;
                background-color: gold;
                border-radius: 5px;
            }
        }
    }

    .form-control {
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        font-size: 20px;
        border: 0;
        border-bottom: 5px solid lightcoral;
        border-radius: 10px;
        background: white;
        padding: 6px 22px;
        transition: all .25s;

        &:focus {
            transform: scale(1.1);
            border-bottom: 5px solid var(--accentColor);
        }

        &__label {
            font-size: 24px;
            display: block;
            // font-weight: bold;
            margin: 0 0 10px;
            padding: 0 0 0 24px;
            color: white;
            text-shadow: 0 0 20px rgba(0, 0, 0);
        }

        &__radio-group {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            margin-left: auto;
            grid-template-rows: auto;
            // overflow-y: scroll;
            // height: 24svh;
        }

        &__radio-button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 20px;

            &-control {
                display: none;

                &:checked {
                    &+.slider {
                        min-width: 90%;
                        min-height: 90%;
                    }
                }
            }

            .switch {
                //background-color: white;
                display: inline-block;
                min-width: 50px;
                min-height: 50px;
                position: relative;
                border-radius: 50%;
                cursor: pointer;
                transition: transform .25s;

                &:has(.form-control__radio-button-control:checked) {
                    transform: scale(1.3);
                }
            }

            .slider {
                //background-color: lightcoral;
                border-radius: 50px;
                display: inline-block;
                min-width: 50%;
                min-height: 50%;
                padding: 0px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all .25s;
            }

            span {
                padding-left: 24px;
                font-size: 20px;
                color: white;
                text-shadow: 0 0 20px rgba(0, 0, 0);
            }
        }

        &__checkbox {
            margin: 0px 0px 0px 16px;
            padding: 10px;
            min-width: 20%;
            display: inline-block;
            user-select: none;
            cursor: pointer;
            font-weight: bold;
            text-align: center;
            background-color: white;
            border-radius: 5px;
            border-bottom: 5px solid black;
            transition: all .25s;

            &-control {
                display: none;
            }

            &:has(.form-control__checkbox-control:checked) {
                background-color: gold;
                min-width: 33%;
            }

        }
    }
}