.screen-search {
    background-color: var(--darkColor);
    padding: 0 0 36px;

    .component-pagination {
        margin: 0 auto;
    }

    .search {
        &__title {
            font-size: 56px;
            margin: 0 0 36px;
            padding: 36px 0 0;
            color: white;
            text-shadow: 0 0 20px rgba(0,0,0,0.5);
            text-align: center;
        }

        &__subtitle {
            font-size: 48px;
            margin: 0 0 36px;
            color: white;
            text-shadow: 0 0 20px rgba(0,0,0,0.5);
        }

        &__result-items {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        &__result-item {
            display: flex;
            overflow: hidden;
            margin: 0 0 36px;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 20px rgba(0,0,0,0.5);

            &-media {
                min-width: 250px;
                height: 250px;
                padding-right: 48px;
                border-right: 2px solid lightgray;
                object-fit: cover;
            }
            &-description {
                margin: 0 0 0 48px;
            }
            &-title {
                margin: 0 0 4px;
                font-size: 32px;
                
                a {
                    text-decoration: none;
                    color: black;
                }
            }
            &-details {
                font-size: 24px;
            }
            &-link {
                color: black;
            }
        }
    }

    .no-results {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
        border-left: 10px solid lightcoral;
        color: lightcoral;
        width: 50%;
        padding: 20px;
        text-align: center;
        margin: 0 auto;
        animation-name: no-result-pulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;

        @keyframes no-result-pulse {
            0% {
                scale: 1;
            }
            50% {
                scale: 1.1;
                color: red;
                border-color: red;
            }
            100% {
                scale: 1;
            }
        }

        // &__headline {

        // }
    }
}