.screen-search {
    background-color: var(--darkColor);
    padding: 0 0 36px;

    .component-pagination {
        margin: 0 auto;
    }

    .search {
        &__title {
            font-size: 56px;
            margin: 0 0 36px;
            padding: 36px 0 0;
            color: white;
            // text-shadow: 0 0 20px rgba(0,0,0,0.5);
            text-align: center;
            text-shadow: 2px 5px 2px black;
        }

        &__subtitle {
            font-size: 48px;
            margin: 0 0 36px;
            color: white;

            span {
                text-decoration: underline;
            }
        }

        &__result-items {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        &__result-item {
            display: flex;
            overflow: hidden;
            margin: 0 0 36px;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 20px rgba(0,0,0,0.5);

            &-media {
                min-width: 250px;
                height: 250px;                
                object-fit: cover;
            }
            &-description {
                margin: 0 0 0 48px;
                border-left: 2px solid lightgray;
                padding-left: 48px;
            }
            &-title {
                margin: 0 0 4px;
                font-size: 32px;
                
                a {
                    text-decoration: none;
                    color: black;
                }
            }
            &-details {
                font-size: 24px;
            }
            &-link {
                color: black;
            }
        }
    }

    .no-results {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
        border-left: 10px solid lightcoral;
        color: lightcoral;
        width: 50%;
        padding: 20px;
        text-align: center;
        margin: 0 auto;
        animation-name: no-result-pulse;
        animation-duration: 1s;
        animation-iteration-count: infinite;

        @keyframes no-result-pulse {
            0% {
                scale: 1;
            }
            50% {
                scale: 1.1;
                color: red;
                border-color: red;
            }
            100% {
                scale: 1;
            }
        }

        // &__headline {

        // }
    }
}

@media (max-width: 1000px) {
    .screen-search {
        padding: 0 15px 36px;
        .search {
            &__title {
                font-size: 48px;
            }
            &__subtitle {
                font-size: 32px;
            }
        }

        .no-results {
            // background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0,0,0,0.5);
            border-left: 10px solid lightcoral;
            color: lightcoral;
            width: 50%;
            padding: 20px;
            text-align: center;
            margin: 0 auto;
            // animation-name: unset;
            // animation-duration: unset;
            // animation-iteration-count: unset;
            animation-name: no-result-pulse;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }
    }
}

@media (max-width: 420px) {
    .screen-search {
        padding: 0 10px 36px;
        .search {
            // &__subtitle {
            //     padding: 0 15px;
            // }

            &__result-item {
                --border-width: 1px;
                --border-color: white;

                display: list-item;
                position: relative;
                height: fit-content;
                overflow: unset;
                padding: 0;
                margin: 0 0 10px;
                box-shadow: none;
                // border: var(--border-width) dotted var(--border-color);
                // // border-top: none;
                // border-bottom: 15px solid var(--darkColor);

                &:first-child {
                    // border-top: var(--border-width) solid var(--border-color);
                    border-radius: 10px 10px 0 0;

                    .search__result-item-media,
                    .search__result-item-description {
                        border-radius: 10px 10px 0 0;
                    }
                }

                &:last-child {
                    border-radius: 0 0 10px 10px;

                    .search__result-item-media,
                    .search__result-item-description {
                        border-radius: 0 0 10px 10px;
                    }
                }
                
                &-media {
                    min-width: unset;
                    height: 100%;   
                    width: 100%;             
                    object-fit: cover;
                    position: absolute;
                    inset: 0;
                    z-index: 0;
                }

                &-description {
                    color: white;
                    background-color: rgba(0,0,0,0.3);
                    margin: 0;
                    padding: 20px;
                    border: none;
                    position: relative;
                    z-index: 1;
                    box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
                    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);

                    a {
                        color: white;
                    }
                }
            }
        }
    }
}