.component-gallery {

    &__current-image {
        display: block;
        width: 100%;
        height: 450px;
        object-fit: contain;
        cursor: pointer;
        box-shadow: inset 0 0 20px rgba(0, 0, 0, .2);
        border-radius: 10px 10px 0 0;
        padding: 24px 0;
        // margin: 0 0 20px;
    }

    &__images {
        height: 27%;
        display: flex;
        overflow-x: scroll;
        // border: 1px solid #ccc;
        box-shadow: 0 0 20px rgba(0, 0, 0, .2);
        border-radius: 0 0 10px 10px;

        &::-webkit-scrollbar {
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: grey;
            border-radius: 10px;
        }
    }

    &__image {
        object-fit: contain;
        height: 100%;
        min-width: 25%;
        margin: 0 25px 0 25px;
        cursor: pointer;
    }

    &__inspector {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.8);

        &.on{
            display: block;
        }
        &.off {
            display: none;
        }

        &-image {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            object-fit: contain;
            height: 90vmin;
            z-index: 500;
        }

        &-close-button {
            margin: 0;
            padding: 0;
            background: crimson;
            color: white;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: absolute;
            font-size: 30px;
            top: 100px;
            right: 100px;
            box-sizing: border-box;
            border: none;
            cursor: pointer;
            transition: all .25s;
            z-index: 501;

            &:hover {
                scale: 1.2;
                background-color: salmon;
            }

            &:active {
                scale: 1.4;
            }
        }

        &-navigation {
            margin: 0;
            padding: 0;
            background: rgba(0,0,0,0.5);
            color: white;
            font-weight: bold;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: absolute;
            font-size: 30px;
            top: 50%;
            box-sizing: border-box;
            border: none;
            cursor: pointer;
            translate: -50% 0%;
            transition: all .25s;
            z-index: 501;

            &:hover {
                background-color: white;
                color: black;
                scale: 1.2;
            }

            &:active {
                scale: 1.4;
            }

            &.left {
                left: 10%;
            }

            &.right {
                left: 90%;
            }
        }
    }
}

@media (max-width: 768px) {
    .component-gallery {
        &__inspector {
            &-close-button {
                top: 150px;
                right: 50px;
            }
        }
    }
}

@media (max-width: 420px) {
    .component-gallery {
        &__current-image {
            height: 350px;
        }
        
        &__inspector {
            // &-close-button {
            //     top: 150px;
            //     right: 50px;
            // }

            &-image {
                width: 100%;
                height: unset;
            }
        }
    }
}