.fetch-error {
    width: max-content;
    margin: 25vh auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    color: lightcoral;
    border-left: 5px solid lightcoral;
    
    &__title {
        font-size: 36px;
    }

    &__information {
        font-size: 24px;
    }
}

.screen-article {
    .article {
        background-color: var(--darkColor);
        padding: 0 0 64px;
        color: white;
    
        &__cover {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 0 90px;
            padding: 40px 40px 128px 40px;
            min-height: 325px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;

            .container {
                width: 100%;
            }
        }
    
        &__headline {
            text-align: left;
            margin: 0;
            text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            font-size: 64px;
        }
    
        &__abstract {
            text-indent: 64px;
            text-align: center;
            font-size: 32px;
            margin: 0 0 64px;
    
            &::before,
            &::after {
                content: '-';
            }
        }
    
        &__content {
            font-size: 24px;

            p {
                text-indent: 48px;
                
                &::first-letter {
                    font-style: italic;
                    font-size: 1.5em;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .screen-article {
        .article {
            &__content,
            &__abstract {
                padding: 0 20px;
            }

            &__cover {
                min-height: 250px;
                padding: 30px;
                padding-bottom: 30px;
            }
        }

        > .container {
            padding: 0 20px;
        }
    }
}

@media (max-width: 420px) {
    .screen-article {
        .article {
            &__cover {
                min-height: 200px;
                padding: 20px;
                padding-bottom: 40px;
            }
            
            &__headline {
                font-size: 48px;
            }

            &__abstract {
                font-size: 24px;
            }
        }
    }
}